body *{
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: lightcyan;
}

.warning {
    color: dodgerblue;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}